{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block main %}

    <div class="container py-5">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
            <div class="col">
                <div class="card custom-card">
                    <img src="/static/images/preview/Business&Money.png" alt="Photo 1">
                    <div class="overlay">
                        <button class="btn see-more"><a class="see-more-link" href="books#business-&-money">See more</a></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card custom-card">
                    <img src="/static/images/preview/Computer&Technology.png" alt="Photo 2">
                    <div class="overlay">
                        <button class="btn see-more"><a class="see-more-link" href="books#computer-&-technology">See more</a></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card custom-card">
                    <img src="/static/images/preview/Crafts,Hobbies&Home.png" alt="Photo 3">
                    <div class="overlay">
                        <button class="btn see-more"><a class="see-more-link" href="books#crafts,-hobbies,-&-home">See more</a></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card custom-card">
                    <img src="/static/images/preview/Education&Teaching.png" alt="Photo 3">
                    <div class="overlay">
                        <button class="btn see-more"><a class="see-more-link" href="books#history">See more</a></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card custom-card">
                    <img src="/static/images/preview/History.png" alt="Photo 3">
                    <div class="overlay">
                        <button class="btn see-more"><a class="see-more-link" href="books#education-&-teaching">See more</a></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card custom-card">
                    <img src="/static/images/preview/Science.png" alt="Photo 3">
                    <div class="overlay">
                        <button class="btn see-more"><a class="see-more-link" href="books#science">See more</a></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card custom-card">
                    <img src="/static/images/preview/Self-Improvement.png" alt="Photo 3">
                    <div class="overlay">
                        <button class="btn see-more"><a class="see-more-link" href="books#self-improvement">See more</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
